@page
@model caotinhofeliz.Pages_Produtos.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Produto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Produto.Id" />
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Produto.Nome" class="control-label"></label>
                <input asp-for="Produto.Nome" class="form-control" />
                <span asp-validation-for="Produto.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Produto.Descricao" class="control-label"></label>
                <input asp-for="Produto.Descricao" class="form-control" />
                <span asp-validation-for="Produto.Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Produto.Preco" class="control-label"></label>
                <input asp-for="Produto.Preco" class="form-control" />
                <span asp-validation-for="Produto.Preco" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Produto.ImagemUrl" class="control-label">Imagem Atual</label><br />
                @if (!string.IsNullOrEmpty(Model.Produto.ImagemUrl))
                {
                    <img src="@Model.Produto.ImagemUrl" alt="Imagem do Produto" class="img-thumbnail" style="max-width: 200px;" />
                }
                else
                {
                    <span>Nenhuma imagem carregada</span>
                }
            </div>
            <div class="form-group">
                <label for="ImagemUpload" class="control-label">Nova Imagem</label>
                <input type="file" id="ImagemUpload" name="ImagemUpload" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>
